/* src/Slideshow.css */
.slideshow {
    position: relative;
    width: 20%;
    height: 100vh;
    /* width: 600px; */
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.slide {
    width: 100%;
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.bullets {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.bullet {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.bullet.active {
    background-color: #717171;
}
